name: Multi-Architecture Build
on:
  push:
    branches: [ "main" ]
jobs:
  build-and-push-multi-arch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/multi-arch-app
          tags: |
            type=sha, format=long
            type=edge, branch=main

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Local for Scan
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          target: production
          load: true
          tags: backend-scan:local
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Security Scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: backend-scan:local
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
 
     - name: Build and Push Multi-Arch
       uses: docker/build-push-action@v5
       with:
          context: ./backend
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
